.bg-blue {
	background-color: $bg_color_blue !important;
}
.bg-green{
	background-color: $bg_color_green !important;
}
.bg-orange{
	background-color: $bg_color_orange !important;
}
.bg-red{
	background-color: $bg_color_red !important;
}
.bg-dark-blue{
	background-color: $bg_color_dark_blue !important;
}
.bg-dark-grey{
	background-color: $bg_color_dark_grey !important;
}
.bg-grey{
	background-color: $bg_color_grey !important;
}


